body {
	background-color: #ccc;
}
.box {
	border-radius: 1em;
	border: 2px solid #555;
	margin: auto;
	width: 30%;
	height: 100px;
	margin: 2em;
	background-color: seagreen; 
	padding: 1em;
	
 }

.f1 {
	animation: back .5s 1;
	background-color: violet;
	transform: rotateX(180deg)
	//transform: rotateX(180deg);
}
@keyframes back {
	from {
		transform: rotateX(0deg)
	}
	to {
		transform: rotateX(180deg);
		//transform: scaleY(-1);
	}
}

.f2 {
	background-color: seagreen;
	animation: front .5s 1;
	transform: rotateX(0deg);
}
@keyframes front {
	from {
		transform: rotateX(180deg)
	}
	to {
		transform: rotateX(0deg);
		//transform: scaleY(-1);
	}
}

 
 // .back {
 // 	border-radius: 1em;
	// border: 2px solid #555;
	// margin: auto;
	// width: 30%;
	// height: 100px;
	// margin: 2em;
	// background-color: violet;
	// //transform: rotateX(180deg);
	// // filter: FlipH;
	// //animation: front 1s 1;
 // }
// @keyframes front {
// 	100% {
// 		transform: rotateX(90deg);
// 		background-color: violet;
// 	}
// }



// @keyframes {
// 	50% {
// 		 -moz-transform: scaleX(-1);
//         -o-transform: scaleX(-1);
//         -webkit-transform: scaleX(-1);
//         transform: scaleX(-1);
//         filter: FlipH;
//         -ms-filter: "FlipH";
// 	}
// }
     